apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: image-controller
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: image-controller
    app.kubernetes.io/part-of: build
  name: image-controller
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: image-controller
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: image-controller
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rhtap-build-tenant/build/image-controller@sha256:afffd9a56cc134e42b6ff5ee222a2d4a15cc74ba7302421532d39422fca6cdfe
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
